@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }

  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }

  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }

  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
}
:placeholder {
  @apply text-white;
}
.wrapper {
  @apply w-full flex flex-col  ; 
}

.wrapper-2{
  @apply w-full flex justify-center  items-center ;  
}
.contain {
  @apply w-full md:w-[729px] lg:w-[972px] xl:w-[1290px]
    
  
  ;
}

@media screen {
  
}


/* .wrapper {
  @apply flex w-full flex-col  items-center justify-center;
} */
/* .wrapper2 {
  @apply w-full bg-[#000];
} */
/* .contain {
  @apply w-[98%]  xl:w-[1320px];
} */
/* .contain-2 {
  @apply w-[96%] lg:w-[980px] xl:w-[1120px];
} */